@model project_wildfire_web.Models.DTO.ProfileViewModelDTO
@using project_wildfire_web.Areas.Identity.Pages.Account.Manage
@using project_wildfire_web.ExtensionsMethods


<!-- Stores users profile view model -->
<div id="profile-data" data-profile="@Json.Serialize(Model)"></div>

<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="profileModalLabel">
            @if (Model == null)
            {
                @:Profile
            }
            else if (Model.UserInfo.FirstName == null && Model.UserInfo.LastName == null)
            {
                @Model.UserInfo.Email
            }
            else
            {
                @Model.UserInfo.FirstName@: @Model.UserInfo.LastName
            }
            
        </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body pt-0" id="profileModalBody">
        @if (Model == null)
        {
            <p class="lead">Profile information not available. Please log in or create a profile.</p>
        }
        else
        {
            <div class="container">

                <div class="row">
                    <partial name="_UserInfoPartial" model="Model.UserInfo" />
                </div>
                
                <div class="row">
                    <partial name="_SavedLocationPartial" model="Model.SavedLocations" /> 
                </div>
                
                <div class="row">
                    <partial name="_FireSubPartial" model="Model.FireSubscriptions" /> 
                </div>
            </div>  
        }        
      </div>
    </div>
  </div>
</div>

@section Scripts {
    <script src="~/js/ProfilePartial/savedLocations.js"></script>
    <script src="~/js/ProfilePartial/userInformation.js"></script>
}